body{
  background-color: navy;
}
.Flexing{
  display:flex;
  flex-direction: row;
}
.Decoration{
  height:100vw;
  width: 77.8%;
  border-left: 2px white solid;
  top: 0;
  position: absolute;
  left: 20%;
  background-color: gray;
  display: flex;
  margin:auto;
  flex-direction: column;
  padding: 1%;
}
.InnerFormDecor{
  display:flex;
}
.btnAdd{
  display:flex;
  margin: auto;
}
p{
  color:black;
}
.plus{
  color:white;
}
a{
  color:white;
  border-bottom: white 2px solid;
  width: 110%;
  left: 0;
  text-decoration: none;
  padding: 10px;
  display:flex;
  flex-direction: column;
}
.FormDeco{
  width: 50%;
  margin: auto;
  background-color: oldlace;
  border: 2px black solid;
  padding: 10px;
  margin: 5px;
}